{% extends "base.html" %}

{% block title %}Edit Task{% endblock title %}

{% block body %}

<div class="container">
    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">Edit Title</label>
            <input
                type="text"
                class="form-control"
                name="title"
                value="{{ task.title }}">
        </div>

        <div class="mb-3">
            <label class="form-label">Edit Description</label>
            <textarea
                class="form-control"
                name="description">{{ task.description }}</textarea>
        </div>

        <button type="submit" class="btn btn-primary">
            Update Task
        </button>
    </form>
</div>

{% endblock body %}