{% extends "base.html" %}

{%block title%}
index page
{%endblock title%}

{% block body %}
<h1>{{body}}</h1>
  <div class="container">
      <table class="table">
      <thead>
        <tr>
            <th scope="col">S.no.</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Adress</th>
        </tr>
      </thead>
      <tbody>
        {% for person in people  %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{person.name}}</td>
            <td>
              {% if person.age < 18 %}
              Child
              {% elif person.age > 18 %}
            Adult
              {% endif %}
              {{person.age}}

            </td>
            <td>{{person.address}}</td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
  </div>
{% endblock body %}
  