<!DOCTYPE html>
<html>

<head>
  <title>My First Web Page</title>
</head>

<body>

  <h1>THIS IS MY FIRST WEB PAGE</h1>

  <p>
    I have created this page to show my basic understanding of HTML.
    This is my first step into web development, and I am learning how
    to create web pages using different HTML elements.
  </p>

  <h2>About Me</h2>

  <ul>
    <li>My name is Sashwat.</li>
    <li>I am 21 years old.</li>
    <li>I am learning Full Stack Web Development.</li>
    <li>I am a Computer Science student.</li>
    <li>I enjoy learning programming and building projects.</li>
  </ul>

  <p>
    My goal is to improve my web development skills and create useful
    websites and applications in the future. This simple page demonstrates
    the use of headings, paragraphs, and lists in HTML.
  </p>

  <h2>Skills Learned</h2>

  <table>
    <tr>
      <th>Skills Learned</th>
      <th>Learning Time</th>
    </tr>
    <tr>
      <td>Python</td>
      <td>4 weeks</td>
    </tr>
    <tr>
      <td>HTML</td>
      <td>6 months</td>
    </tr>
    <tr>
      <td>CSS</td>
      <td>3 months</td>
    </tr>
    <tr>
      <td>JavaScript</td>
      <td>1 Month</td>
    </tr>
    <tr>
      <td>Django</td>
      <td>2 days</td>
    </tr>
  </table>

</body>

</html>